@import '../../styles/responsive.scss';
@import '../../styles/var.scss';

.profile{
    display: flex;
    gap: 50px;
    
    .left{
       flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: center;
        height: calc(100vh - 100px);
        h2{
            font-size: 24px;
            color: #333;
            span{
                font-style: italic;
                color: $primary;
            }
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        button{
            padding: 10px 20px;
            background: none;
            border: none;
            border-radius: 5px;
            background-color: $primary;
            color: #fff;
            font-weight: bold;
            box-shadow: 2px 3px 7px #ccc;
            cursor: pointer;

        }
        .update{
            text-align: center;
           h3{
            margin: 20px 0 30px 0;
           }

           .noUnderLine{
            margin-top: 10px;
            text-decoration: none;
            font-size: 20px;
            color: #333;
            font-weight: bold;
            padding: 10px; 
            box-shadow: 2px 3px 10px #797979;
            border-radius: 5px;
           }
        }
    }

    .right{
        flex: 1;
        background-color: #ffcccb;
        text-align: center;
        height: calc(100vh - 80px);
        overflow-y: scroll;
    }
}