@import '../../styles/responsive.scss';
@import '../../styles/var.scss';

.card-section{
    padding: 50px 0;
   h1{
    text-align: center;
    font-size: 42px;
    font-family: "Lato", sans-serif;
    span{
      color: $primary;
      font-style: italic;
    }
    @include sm{
        font-size: 30px;
    }
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

 
  @include sm{
    grid-template-columns: 1fr 1fr;
    padding: 20px 10px;
  }

 
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --headlinesFont: 'Jost', sans-serif;
    --bodyFont: 'Work Sans', sans-serif;
    
}

@mixin poCentering {
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



img {
    vertical-align: text-bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

.ft-recipe {
   
    background: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 3px 5px 10px #bbbbbb;

    overflow: hidden;
   
    .ft-recipe__thumb {
        position: relative;
        height: 200px;

      
       
        #close-modal {
            position: absolute;
            top: 0; right: 0;
            width: 36px;
            height: 36px;
            background: #000;
            color: var(--white);
       
            line-height: 36px;
            font-size: 22px;
            cursor: pointer;
            z-index: 1;
            transition: all 200ms ease;
            &:hover {
                background: transparent;
                color: var(--black);
            }
        }
        h3 {
            text-align: center;
            position: absolute;
            margin: 0;
            width: 100%;
            color: var(--white);
            font-family: var(--headlinesFont);
            font-size: 20px;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
            padding: 2.4rem 0 0;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: 50% 50%;
            z-index: 10;
        }
    }
    .ft-recipe__content {
        flex: 1;
        padding: 0 2em 1em;
        background-color: transparent !important;
        .content__header {
            .row-wrapper {
                display: flex;
                
              
                border-bottom: 1px solid #d8d8d8;
                .recipe-title {
                    font-family: var(--headlinesFont);
                    font-weight: 600;
                    font-size: 22px;
                   
                     @include sm{
                        font-size: 18px;
                     }
                    
                }
                
            }
            .recipe-details {
              text-align: center;
                display: flex;
                list-style: none;
                padding: 0em 0 1em;
                margin: 0;
                justify-content: space-between;
                .recipe-details-item {
                    flex: 1;
                    i {
                        font-size: 20px;
                    }
                    .value {
                        color: $primary;
                        margin-left: .35em;
                        vertical-align: bottom;
                        font: {
                            size: 18px;
                            weight: 600;
                        }
                    }
                    .title {
                        display: block;
                        margin-top: -4px;
                        font: {
                            family: var(--headlinesFont);
                            size: 15px;
                            weight: 300;
                        }
                    }
                }
            }

        }
        .description {
            margin: 0 0 10px 0;
            font-size: 13px;
        }
        .content__footer {
            text-align: center;
            
           display: flex;
           justify-content: space-between;
          gap: 20px;

          .left{
            button{
              padding: 8px 10px;
              background-color: $primary;
              border: none;
              color: #fff;
              border-radius: 8px;
              cursor: pointer;

              &:hover{
                transform: scale(1.02);
                transition: 0.3s ease;
              }
            }
          }

          .right{
            button{
              background-color: transparent;
              border: none;
              font-size: 25px;
              cursor: pointer;
            }

          }
           
        }
    }

}

