@import '../../styles/var.scss';
@import '../../styles/responsive.scss';

.comment-section{
    margin-top: 40px;
    border-top: 1px solid #ccc;
    margin-bottom: 50px;

    @include sm{
        margin-top: 20px;
    }
    h2{
        font-size: 30px;
    }
    form{
        textarea{
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 20px 0 0 0;
        font-family: 'Lato', sans-serif;
        width: 50%;
        font-size: 16px;
        outline: none;
        resize: none;
        &:focus{
            border-bottom: 1px solid darkgrey;
            
        }
        @include sm{
            padding: 0;
            width: 85%;
        }
    }
    button{
        padding: 10px 17px;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: $primary;
        cursor: pointer;
        font-size: 17px;
        display: block;
        margin: 15px 0;
        @include sm{
            padding: 8px 12px;
            font-size: 15px;
        }
    }
    }

    .user-comments{
        font-family: "Lato", sans-serif;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px;
        margin-bottom: 15px;
        .user{
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #333;

            @include sm{
                width: 40px;
                height: 40px;
            }
        } 
        }

        .comment-container{
            background-color: #e7e7e7;
            width: 50%;
            line-height: 1.6;
            padding: 0 20px 10px 20px;
            border-radius: 15px;
            word-wrap: break-word;
            .user-name{
                font-size: 17px;
                font-weight: bold;
                font-style: italic;
                margin-bottom: -10px;
                @include sm{
                
                font-size: 15px;
            }
            }
            @include sm{
                padding: 0 10px 5px 10px;
                font-size: 16px;
                width: 85%;
            }
        }

    }
    
}