.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    padding: 10px 40px;
    background-color: #fff;
    border-radius: 250px;
    box-shadow: 2px 3px 10px #a1a1a1;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-links{
    margin: 0 20px;
}
.nav-links-a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding: 5px 10px;
    border-radius: 7px;
}
.nav-links-a:hover{
   background-color: var(--bg);
    background: var(--gradient);
    color: #fff;
    transition: 0.3s ease;
}
.search-icon{
    font-size: 25px;
}

.logo{
    width: 50px;
}

.active{
    background-color: var(--bg);
    background: var(--gradient); border-radius: 7px;
    color: #fff;
}