/* src/components/Header.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C10008;
  padding: 25px 40px;
    font-size: 18px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.menu-item:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  margin-left: 30px;
}

.icons svg {
  color: white;
  margin: 0 5px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  
  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #007bff;
    padding: 10px 0;
    display: none;
  }

  .menu.open {
    display: block;
  }

  .menu-item {
    margin: 10px 0;
  }

  .icons {
    margin: 10px 0 0;
  }
}
